* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: contain;
    z-index: 1;
    height: 100vh;
    background-image: url("https://img.freepik.com/vector-premium/patas-gato-fondo-pantalla-transparente-gatitos-dibujos-animados-garras-pies-lindas-extremidades-animales-salvajes-o-domesticos-fondo-huellas-mascotas-borde-vector-patron-horizontal-infantil-textil_176516-3428.jpg?w=2000");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.botn{
    padding: 5px;
    display: flex;
    color: #000;
    background: rgb(238, 65, 172);
    border-radius: 10px;
    width: 6%;
}

label {
    display: flex;
    margin-left: 20px;
    font-weight: 800;
}

.contenedor {
    text-align: center;
    background: linear-gradient(190deg,rgba(84, 85, 87, 0.586),rgba(232, 232, 242, 0));
    height: 90px;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.container {
    border: 1px solid rgba(0, 42, 255, 0);
    margin-top: 50px;
    border-radius: 10px;
    background-color: rgba(70, 123, 121, 0);
}

.col {
    border: 1px solid rgba(185, 28, 28, 0);
    border-radius: 10px;
    flex-wrap: wrap;
}

.p-3 {
    border: 1px solid rgba(255, 0, 221, 0);
    border-radius: 5px;
    background-color: #ffffff;
}

#p33{
    background-image: url("https://img.freepik.com/vector-premium/lindo-patron-transparente-coloridas-patas-mascotas-huella-perro-o-gato-contorno-fondo-brillante-puntos_499817-12.jpg?w=2000");
    background-size: cover;
}


.datos {
    position: relative;
    bottom: 25px;
    width: 50%;
    border: 3px solid rgb(231, 158, 0);
    border-radius: 10px;
    margin-left: 40%;
}

.rtx {
    width: 50%;
    margin-left: 20%;
    margin-top: 10px;
    justify-content: center;
}

.mensaje {
    width: 60%;
    margin-left: 30%;
}

.mensaje-exito {
    font-size: 20px;
    color: green;
    font-weight: bold;
}

p {
    text-align: left;
}

.mb-3 {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(0, 255, 255, 0.283);
}



.modal-content {
    background-color: #b277af;
    background-image: url('imagenes/1pt.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.modal-header {
    color: #fff;
}


.center-container {
    display: flex;
    justify-content: center;
}

.animal-button {
    padding: 10px;
    background-color: #dd8811;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.animal-button:hover {
    background-color: #c07814;
}

.mensaje-error {
    position: relative;
    bottom: 25px;
    color: rgb(255, 0, 0);
    font-size: 18px;
    font-weight: 800;
    margin-left: 40%;
    margin-top: 5px;
}

.card-img-top {
    height: 40%;
}

.btn-danger {
    margin-right: 20px;
}

.row{
    display: grid;
}


.tarjeta {
    border: 1px solid rgba(59, 229, 3, 0);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.tarjeta .card {
    max-width: 200px;
    text-align: center;
}

.tarjeta .card img {
    max-width: 100%;
}

.tarjeta .card-body {
    height: 350px;
    padding: 10px;

}

.tarjeta .card-title {
    font-size: 18px;
    font-weight: bold;
}


.tarjeta .card-text {
    font-size: 14px;
}

.card-sita-terminada {
    background-color: rgb(182, 224, 134);
    border: 3px solid rgb(5, 157, 0);
}

.card-sita-cancelada {
    background-color: rgb(229, 110, 110);
    border: 3px solid rgb(251, 0, 0);
}

@media (max-width: 400px) {
    .datos {
        margin: 30px;
        width: 70%;
    }

    .mensaje-error {
        position: relative;
        bottom: 50px;
        right: 50px;
    }


}